html, body {
  margin: 0;
  padding: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cork-container {
  display: flex;
  flex-grow: 1;
}

.cork-board {
  position: relative;
  flex-grow: 1;
}

.add-button {
  border: 1px solid red;
  background: red;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 28px;
  border-radius: 40px;
  padding: 4px;
  cursor: pointer;
}